%ul
  %li= link_to '/login', "Login"
  %li= link_to '/register', "Register"
  %li= link_to '/requesters', "Requester reviews"
  %li= link_to '/recent', "Recent reviews"
  %li= link_to '/', "About"
  %li= link_to '/blog', "Blog"
  %li= link_to '/faq', "FAQ"