- denom = "&nbsp;/&nbsp;5"

%tr
  %td
    %strong= requester.amzn_name
    = requester.amzn_id
  %td
    .attr_label comm:
    = requester.comm.to_s + denom
    %br/
    .attr_label fair:
    = requester.fair.to_s + denom
    %br/
    .attr_label fast:
    = requester.fast.to_s + denom
    %br/
    .attr_label pay:
    = requester.pay.to_s + denom
  %td
    = requester.review_count.to_s