- denom = "&nbsp;/&nbsp;5"
- comm = requester.comm
- fair = requester.fair
- fast = requester.fast
- pay = requester.pay

%tr
  %td
    %strong= requester.amzn_name
    = requester.amzn_id
  %td
    .attr_label comm:
    = Requester.visualize(comm) + "&nbsp;" + comm.to_s + denom
    %br/
    .attr_label fair:
    = Requester.visualize(fair) + "&nbsp;" + fair.to_s + denom
    %br/
    .attr_label fast:
    = Requester.visualize(fast) + "&nbsp;" + fast.to_s + denom
    %br/
    .attr_label pay:
    = Requester.visualize(pay) + "&nbsp;" + pay.to_s + denom
  %td
    .center= requester.review_count.to_s