%tr.requester
  %td
    %strong= requester.amzn_name
    = requester.amzn_id
  %td
    .attr_label comm:
    = requester.comm_text
    %br/
    .attr_label fair:
    = requester.fair_text
    %br/
    .attr_label fast:
    = requester.fast_text
    %br/
    .attr_label pay:
    = requester.pay_text
  %td
    .center= requester.review_count.to_s
  %td
    .center= requester.scammer_count.to_s
  %td
    .center= requester.tos_viol_count.to_s
