%tr.requester
  %td.req_desc
    %strong= "<span class='req_name'>"+ requester.amzn_name + "</span>"
    %br/
    = "<span class='req_id'>"+ requester.amzn_id + "</span>"
  %td.rating
    .attr_label comm:
    = requester.comm_text
    %br/
    .attr_label fair:
    = requester.fair_text
    %br/
    .attr_label fast:
    = requester.fast_text
    %br/
    .attr_label pay:
    = requester.pay_text
  %td
    = requester.review_count.to_s