- requester = review.requester

%tr.review
  %td
    %strong= requester.amzn_name
    = requester.amzn_id
  %td
    .attr_label comm:
    = review.comm_text
    %br/
    .attr_label fair:
    = review.fair_text
    %br/
    .attr_label fast:
    = review.fast_text
    %br/
    .attr_label pay:
    = review.pay_text
  %td
    = review.notes