%form(action='/review' method='POST')
  %p
    .label Requester Name
    %input(type='text' name='name' value='#{params[:name]}')
    - if @errors and @errors[:name]
      %span.error= @errors[:name]
  %p
    .label Requester ID
    %input(type='text' name='id' value='#{params[:id]}')
    - if @errors and @errors[:id]
      %span.error= @errors[:id]
  %p
    .label How many HITs have you done for this requester?
    %br/
    .label &nbsp;
    %select(name='hits')
      %option(value='None') None
      %option(value='1 - 5') 1 - 5
      %option(value='6 - 20') 6 - 20
      %option(value='21 - 100') 21 - 100
      %option(value='101+') 101+
  %p
    Rate this requester on the following qualities, with 1 being worst among requesters you've had experience with and 5 being best among requesters you've had experience with.
  %table(cellspacing='0' cellpadding='2')
    %tr
      %td &nbsp;
      %td.center N/A
      %td.center 1
      %td.center 2
      %td.center 3
      %td.center 4
      %td.center 5
    %tr
      %td
        How fair has this requester been in approving or rejecting your work?
      %td
        %input(type='radio' name='fair' value='nil')
      - for i in [*1..5]
        %td
          %input(type='radio' name='fair' value="#{i}")
    %tr
      %td
        How promptly has this requester approved your work and paid?
      %td
        %input(type='radio' name='fast' value='nil')
      - for i in [*1..5]
        %td
          %input(type='radio' name='fast' value="#{i}")
    %tr
      %td
        How well has this requester paid for the amount of time their HITs take?
      %td
        %input(type='radio' name='pay' value='nil')
      - for i in [*1..5]
        %td
          %input(type='radio' name='pay' value="#{i}")
    %tr
      %td
        How responsive has this requester been to communications or concerns you have raised?
      %td
        %input(type='radio' name='comm' value='nil')
      - for i in [*1..5]
        %td
          %input(type='radio' name='comm' value="#{i}")
  %p
    Please briefly explain any issues you've had with this requester:
    %br/
    %textarea(name='notes' cols='40' rows='20')
  %input(name='person_id' type='hidden' value="#{session[:person_id]}")
  %p
    %input(type='submit' value='Add Report')